@model CineFlix_Models.Regisseur

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Regisseur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RegisseurId" />
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Geboortejaar" class="control-label"></label>
                <input asp-for="Geboortejaar" class="form-control" />
                <span asp-validation-for="Geboortejaar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationaliteit" class="control-label"></label>
                <input asp-for="Nationaliteit" class="form-control" />
                <span asp-validation-for="Nationaliteit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Biografie" class="control-label"></label>
                <input asp-for="Biografie" class="form-control" />
                <span asp-validation-for="Biografie" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DeletedOn" class="control-label"></label>
                <input asp-for="DeletedOn" class="form-control" />
                <span asp-validation-for="DeletedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
